<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Configure IISNode bindings for server.js -->
            <add name="IISNode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />

            <!-- Explicitly deny access to all other resources -->
            <add name="DenyData" verb="*" path="data/*" type="System.Web.HttpForbiddenHandler" />
            <add name="DenyEngine" verb="*" path="engine/*" type="System.Web.HttpForbiddenHandler" />
            <add name="DenyModules" verb="*" path="node_modules/*" type="System.Web.HttpForbiddenHandler" />
            <add name="DenyIisNodeLogs" verb="*" path="iisnode/*" type="System.Web.HttpForbiddenHandler" />
            <add name="DenyAppLogs" verb="*" path="logs/*" type="System.Web.HttpForbiddenHandler" />
        </handlers>
        <iisnode loggingEnabled="true" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe --trace-deprecation --inspect" />

        <!-- Configure URL Rewriting such as only /citations/* urls are bound to be processed by server.js -->
        <rewrite>
            <rules>
                <rule name="any">
                    <match url="citations/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <modules>
            <add name="TracingModule" />
            <add name="RequestMonitorModule" />
        </modules>
    </system.webServer>
</configuration>